* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.postContainer {
  margin: 30px 0;
}

.post {
  display: flex;
  flex-direction: column;
}

.postTitle {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0.5% 1%;
}

.contSubtitle {
  font-size: 1.5em;
}

.postText {
  font-size: 1.7em;
  margin: 0.5% 1%;
}

.postCounters {
  display: flex;
  align-items: center;
  justify-content: end;
}

.countText {
  font-size: 0.8rem;
}

.btn-container {
  margin-bottom: 5%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.btn {
  background-color: #f9f9f9;
  border: 2px solid #000 !important;
  color: #000;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background-color: lightcoral;
}

.userContainer {
  padding: 3%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.usersCont {
  display: flex;
}

.card-container {
  width: 90%;
  margin: 5%;
  padding: 5px;
}

.card {
  padding: 3%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.photo-container {
  border: 1px solid black;
  height: 5em;
  width: 5em;
}

.user-information {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 3%;
  border: 1px solid black;
  padding: 2%;
}

.user-information p {
  align-self: flex-end;
}

.biography {
  margin: 5%;
  width: 90%;
  border: 1px solid black;
  padding: 2%;
}

.postCont {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 15px;
  margin: 5px 20px;
}

.postContP {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 20px;
  margin: 8px 20px;
}

.postP {
  display: flex;
  justify-content: space-between;
}

.postTitleP {
  font-size: 2rem;
}

.postCountersP {
  font-size: 0.5rem;
  display: flex;
  width: 35%;
  justify-content: end;
  align-self: flex-start;
}

.interaction {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
}

.addCom {
  padding: 4px 0;
}

.shareIt {
  display: flex;
  align-self: center;
}

.likeBtn {
  margin-left: 20px;
  display: flex;
  gap: 20px;
}

.createTitle {
  text-transform: uppercase;
  text-align: center;
}

.formAdd {
  display: flex;
  flex-direction: column;
  margin: 5px 50px;
  width: 80%;
}

.formAdd input,
.formAdd label {
  padding: 5px;
}

/* Sing Up */
.singUp {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 5%;
  gap: 6px;
}

.singTitle {
  width: 90%;
  align-self: center;
  text-align: center;
}

.singTitle .postText {
  text-transform: capitalize;
  letter-spacing: 1px;
}

.singUpForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.imputField {
  width: 90%;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.imputField input {
  margin-left: 5px;
  background-color: #fff;
  border: 1px solid #000;
  width: 80%;
  height: 30px;
}

.imputFieldDesc {
  font-size: 1rem;
  text-transform: uppercase;
  align-self: flex-start;
  padding-left: 10%;
  font-weight: bold;
}

.imputFieldDescP {
  font-size: 0.8rem;
  text-transform: uppercase;
  align-self: flex-start;
  padding-left: 10%;
}

.singUp a {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
  margin-top: 10px;
  color: #000;
}

.singUp a:hover {
  background-color: lightcoral;
}

.footerSingUpEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.button_to {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.actions {
  margin-top: 1%;
}

.rememberMe {
  font-size: 1rem;
  text-transform: uppercase;
  align-self: flex-start;
  padding-left: 15%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.buttonsHeader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: flex-start;
  align-items: flex-start;
}

.buttonsHeader .button_to {
  width: 100%;
  justify-content: flex-end;
}

.navbar-btn {
  width: 105%;
  padding: 1px;
  border: 0;
}

.newPass {
  margin-top: 25px;
}
